.search {
  position: relative;
}

.searchInputs {
  display: flex;
  justify-content: flex-start;
  border: 1px solid grey;
  width: 230px;
}

.search input {
  background-color: white;
  border: none;
  border-radius: 3px;
  width: 200px;
  padding: 15px;
  height: 30px;
}

.searchIcon {
  // border: 0.5px solid grey;
  // border-radius: 3px;
  place-items: center;
  display: grid;
  background-color: white;
  height: 30px;
  width: 50px;
}

input:focus {
  outline: none;
}

.dataResult {
  width: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height: 150px;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
}

.dataItem {
  display: block;
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

#clear-btn {
  cursor: pointer;
}

#search-btn {
  cursor: pointer;
}

#img-id {
  display: block;
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.search-row {
  display: flex;
  align-items: center;
}

.hidden-id {
  visibility: hidden;
}