
.stats {
    display:flex;
    justify-content: space-between;
    margin-top:5em;
    margin-right:7em;
    margin-left:7em;

    &__total-earnings {
        color: blue;
        width: 14em;
        height: 7em;
        padding: 20px;
        border: 2px solid;
        border-radius: 25px;
        
      }   
    
}