.coin-container {
  box-sizing: border-box;
  // border: 2px solid red;
  height: 100%;
  width: 100%;
  position: static;

  &-inner {
    border-radius: 25px;
    background: linear-gradient(#1a2976, #121a41);
    // background-color: #121a41;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    // border: 2px solid rgb(234, 0, 255);
    margin-left: 30px;
    margin-top: 15px;
    height: 95%;
    width: 95%;
    position: relative;

    .coin-boxes {
      background: linear-gradient(rgb(234, 234, 234), rgb(155, 155, 155));
      // background-color: rgb(218, 218, 218);
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      position: relative;
      box-sizing: border-box;
      // border: 2px solid green;
      height: 260px;
      width: 290px;
      padding-top: 30px;
      box-shadow: 4px 10px 16px rgb(0, 0, 0);

      &-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-resize {
          border-radius: 20px;
          position: relative;
          box-sizing: border-box;
          // border: 2px solid rgb(38, 85, 165);
          max-height: 140px;
          max-width: 200px;
          box-shadow: 2px 2px 10px rgb(55, 55, 55);
        
        }
  
        .coin-txt {
          font-size: 18px;
          text-align: center;
        }

        .coin-btn {
          background: linear-gradient(rgb(19, 60, 185), rgb(11, 43, 138));
          // background-color: rgb(11, 43, 138);
          color: white;
          border-radius: 50px;
          padding: 5px 25px;
          margin-top: 10px;
          box-shadow: 2px 2px 10px rgb(55, 55, 55);

          &:hover {
            background-color:rgb(34, 68, 171);
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

#coin-btn {
  background: linear-gradient(rgb(19, 60, 185), rgb(11, 43, 138));
  // background-color: rgb(11, 43, 138);
  color: white;
  border-radius: 50px;
  padding: 5px 25px;
  margin-top: 10px;
  box-shadow: 2px 2px 10px rgb(55, 55, 55);
}