.profile-container {
  display: flex;
  box-sizing: border-box;
  // border: 3px solid green;
  height: 100%;
  width: 100%;
  position: static;
  background-color: #f0f2f5;
}

.profile-container-side {
  display: flex;
  flex-direction: column;
  margin: 30px 0 30px 30px;
  box-sizing: border-box;
  // border: 3px solid blue;
  width: 350px;
  position: relative;
  background-color: #fff;

  .avatar {
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
    // border: 3px solid rgb(108, 108, 17);
    height: 200px;
  }
  
  .profile-social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 15px 0 15px;
    box-sizing: border-box;
    // border: 3px solid rgb(125, 125, 16);
    height: 300px;
    position: relative;
    background-color: #fff;
  }
}

.profile-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px 30px 0;
  box-sizing: border-box;
  // border: 3px solid blue;
  width: 100%;
  position: relative;
  background-color: #fff;

  .profile-about {
    display: flex;
    margin: 0px 0px 0px 0px;
    // box-sizing: border-box;
    // border: 3px solid rgb(108, 19, 113);
    position: relative;
    width: 95%;
    height: 220px;
    background-color: #fff;

    .user-profile {
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      // border: 3px solid rgb(19, 113, 46);
      position: relative;
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #fff;

      .profile-separator {
        
        box-sizing: border-box;
        // border: 3px solid rgb(19, 113, 46);
        position: relative;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #fff;

        .follow-btn {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          font-size: 18px;
          margin-right: 10px;
          margin-top: 20px;
          background-color: #fff;
        }
      }

      .follow-separator {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        // border: 3px solid rgb(19, 113, 46);
        position: relative;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #fff;
        .f-number {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          background-color: #fff;
        }
        .f-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          background-color: #fff;
        }
      }
    }
    
    .stock-profile {
      box-sizing: border-box;
      // border: 3px solid rgb(19, 113, 46);
      position: relative;
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #fff;
    }
  }

  .profile-graph {
    display: flex;
    // align-items: center;
    // margin: 0px 15px 15px 15px;
    box-sizing: border-box;
    border: 3px solid rgb(108, 19, 113);
    position: relative;
    width: 95%;
    height: 100%;
    background-color: #fff;
    font-size: 12px;
  
    .graph1 {
      margin-top: 15px;
      margin-right: 15px;
      box-sizing: border-box;
      border: 3px solid rgb(19, 113, 25);
      position: relative;
      width: 100%;
      background-color: #fff;
    }
    .graph2 {
      display: flex;
      margin-top: 15px;
      margin-left: 15px;
      box-sizing: border-box;
      border: 3px solid rgb(19, 113, 46);
      position: relative;
      width: 100%;
      background-color: #fff;
    }
  }
}

.table-container {
  position: relative;
  box-sizing: 1px solid black;
  width: 100%;

  .column {
    display: flex;
    justify-content: space-between;
  }
}

.table-rows {
  text-align: center;

  .one {
    width: 25%;
  }
  .two {
    width: 25%;
  }
  .three {
    width: 25%;
  }
  .four {
    width: 25%;
  }
}

.catecoin {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.icons-i {
  &:hover {
    color: blue;
    cursor: pointer;
  }
}
.icons-s {
  text-align: center;
  color: rgb(223, 217, 43);
  &:hover {
    color: blue;
    cursor: pointer;
  }
}
.icons-t {
  color: black;
  &:hover {
    color: blue;
    cursor: pointer;
  }
  &-inside {
    margin-right: 10px;
    color: rgb(116, 71, 11);
  }
}

.profile-username {
  font-size: 24px;
  font-weight: 400;
}

.progress {
  position: relative;
  top: 30px;
  color: #03A9F4;
  margin-left: 22px;
  margin-top: 20px;

  .votes {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-right: 45px;
    position: relative;

    .up {

      &:hover {
        color: darkblue;
        cursor: pointer;
      }
    }

    .down {
      &:hover {
        cursor: pointer;
        color: darkblue;
      }
    }
  }
}

.last-online {
  font-size: 14px;
}

.follow-number {
  font-weight: bold;
}

.profit-goal-text {
  margin-bottom: 10px;
}

.fb1 {
  margin-right: 10px;
}

#edit-btn {
  float: right;
  background-color: rgb(179, 179, 179);
  margin-top: 10px;
}