@import "../../styles/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Noto+Serif+Display:ital@1&display=swap');


.history {
  width: 90%;
  height: 90%;
  margin: 2.5% auto 2.5% auto;
  padding: 2rem;
  background-color: $white;
  box-shadow: 0 8px 10px rgb(0 0 0 / 10%);
  border-radius: 30px;

  &__title {
    text-align: center;
    font-family: 'Noto Serif Display', serif;
  }

  &__table {
    width: 100%;
    height: 90%;
    border-collapse: collapse;

    &__header {
      color: $black;
      font-size: larger;
      font-weight: 500;

      &__item {
        text-align: center;
        background-color: aliceblue;
        font-family: 'Mukta', sans-serif;
        border-bottom: 2px solid black;
      }
      
    }

    &__body {

      &__item {
        text-align: center;
        font-size: large;
        
      }
    }
  }
}

.even-tr {
  background-color: azure;
}

.odd-tr {
  background-color:beige;
}

.desc {
  text-align: left;
}