@import "../../styles/variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

.full-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $content-background;
    height:100%;
}

:root {
  // --color-summary: #FFF6EE;
  // --color-summary-highlight: #FFC48B;
  // --font-ibm-plex-sans: 'IBM Plex Sans', sans-serif;
  --color-summary: #FFF0F3;
  --color-summary-highlight: #B4B3FF;
}

.description {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 5px;
  padding-bottom: 20px;
}
.footer {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.strategy-type {
  background-color: #B4B3FF;
  border-radius: 8px;
  padding: 5px;
  margin-top: 1em;
  height:50%;
}

.edit {
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 1.25rem;
  margin-right: .35em;
}

.strategies {
  background: white;
  padding: 38px 36px;
  margin-top: 45px;
  margin-bottom: 45px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
  max-width: 75em;
  min-width: 30em;
  width: 100%;
  border-radius: 30px;
  
  h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    // line-height: 1.2;
    margin-bottom: 30px;
  }
  
  details {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(0, 0, 0, .05);
    border-left: 15px solid gray;
    padding:15px;
    & {
      margin-top: 15px;
    }
    &.summary {
      display:flex;
      justify-content: space-between;
    }
    
    &.alert {
      --highlight: var(--color-summary-highlight) ;
      background: var(--color-summary);
      border-left-color: var(--highlight);
    }
    
    summary,p {
      position:relative;
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      font-family: 'IBM Plex Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      padding: 18px;
      cursor:pointer;
      align-self: center;
      margin-top: 0;
    }
    p {
      // display: list-item;
      cursor:default;
      margin-left:1.5rem;
    }
    
    summary::before {
      cursor: pointer;
      position:absolute;
      display:inline-flex;
    }
    
    &[open] {
      summary {
        font-weight: 700;
        // background-color: darken(#FFF6EE, 5%);
        border-radius: 30px;
      }
    }
  }
}

