@import "../../styles/variables.scss";

.record-input {
  width: 30%;
  height: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

#balance {
  padding-left: 13.7px;
}
.rw-dropdown-list-value {
  padding-top: 1rem;
}