@import "../../styles/variables.scss";

.paper__container {
  box-shadow: 0 8px 10px rgb(0 0 0 / 10%);
  border-radius: 30px;
  width: 30%;
  background-color: $white;
}

.record-input {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  padding-top: 1rem;
}
#button__close {
    align-self: flex-end;
    font-size: xx-large;
    cursor: pointer;
}

.button {

  &__submit {
    display: flex;
    justify-content: space-around;
    height: 10%;
    

    button {
      width: 40%;
      height: 80%;
      border-radius: 2rem;
      font-size: larger;
      background-color: $content-background;
    }

    &__delete {
      color: red;
    }
  }
}

.rw-dropdown-list-value {
  padding: 0;
}
.input {

  &__title {
    text-align: center;
    color: $black;
    font-size: 1.2em;
    margin-bottom: 0.25rem;
    margin-top:1rem;
    // font-weight: bold;
  }

  &__date_title {
    text-align: center;
    color: $black;
    font-size: x-large;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  &__inputfield {
    display: inline;
    display: inline-block;
    vertical-align: 0;
    padding:0;
  }

  &__container {
    display: flex;
    width: 100%;

    &__symbol {
      display: block;
      width: 10%;
      background-color: $content-background;
      height: 100%;
      font-size: large;
      font-weight: bold;
      text-align: center;
      padding-top: .5rem;
    }

    &__box {
      width: 90%;
    }
  }

  &__radio {
    display: flex;
    justify-content: space-around;

    &__label {
      .MuiFormControlLabel-label {
        font-size: larger;
      }
    }
  }

  &__hidden {
    display: none;
  }
}


#balance {
  padding-left: 13.7px;
}

#demo-controlled-radio-buttons-group {
  color: $black;
  font-weight: 400;
  font-size: x-large;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 28.8px;
}

.rw-dropdown-list-value {
  padding-top: 1rem;
}