@import "../../styles/variables.scss";

.label {
  font-size: 1.25em;
  align-self: center;
  margin-top: 15px;
}



.nav-item {
  display:flex;
  width:100%;
  height:100%;
  padding-top: .75em;
  padding-bottom: .9em;
  background-color: $dark-background;
  color: $navbar-button;

  &__icon {
    width: 1.5em;
    height: 1.5em;
    // color: $navbar-button;
    margin-right: .75em;
    margin-left: .75em;
    margin-top: .6em;
  }

  &:hover {
    cursor: pointer;
    color:white !important;

  }

  &--selected {
    // background-color: $white;
    background-color: #ffd55a;
    font-weight: bold;
  }

  // &:active {
  //   background-color: yellow;
  // }

}