@import "../../styles/variables.scss";

.label {
  color: $navbar-button;
  font-size: 1.25em;
  align-self: center;
  margin-top: 15px;


}

.icon {
  width: 1.5em;
  height: 1.5em;
  color: $navbar-button;
  margin-right: .75em;
  margin-left: .75em;
  margin-top: .6em;
}

.nav-item {
  display:flex;
  width:100%;
  height:100%;
  padding-top: .75em;
  padding-bottom: .9em;
  background-color: #304347;

  :hover {
    background-color:white;
    color: black !important;
}


}