@import "../../styles/variables.scss";

.sidebar {
  background-color: $dark-background;
  box-shadow: 0px 4px 8px rgba($dark-background, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 13rem;
  width: 18vw;
  padding: 0.5 * $spacing 0;
  height: 100vh;
  

  &--centered {
    align-self: center;
  }
  
  &__head {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 1.5 * $spacing;
    height: 1.5 * $spacing;
    margin: 0 1rem;
  }
  &__title {
    color: $white;
    font-size: 2/3 * $spacing;
    margin: 0;
  }

  &__separator {
    width: 90%;
    margin: 0.5 * $spacing 0;
    border: solid 0.5px;
    color: darken($white, 5%);
  }

}
