.container-cat {
  width: 100%;
  height: 100%;
  display: flex;
}

.catbox {
  width: 55%;
}

#cat {
  width: 100%;
  height: 100vh;
}

.register-form {
  height: 600px;
  width: 420px;
  // box-sizing: border-box;
  // border: solid rgb(170, 204, 215);
  margin-left: 80px;
  margin-top: 100px;
}

.center-register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  border: none;
  margin: auto;
}

#span-text {
  font-weight: 100;
}

button {
  align-self: center;
  box-sizing: border-box;
  padding: 20px 50px;
  font-size: 16px;
  margin-right: 275px;
  margin-top: 44px;
  background: #000;
  color: #fff;
  border: 0px;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  font-family: sans-serif;

  &:hover {
    opacity: 0.80;
  }
}

input {
  height: 45px;
  font-size: 15px;
}

.register-text {
  color: #000;
  font-size: 32px;
  margin-bottom: 24px;
}
