$font-family: "Source Sans Pro", sans-serif;
/* match landing page!*/

$white: #fff;
$black: #000;

$dark-background: #222f3e;
$navbar-background:	#c0c0c0;

$spacing: 2rem;

$content-background: #F5F5F5;