$font-family: "Source Sans Pro", sans-serif;
/* match landing page!*/

$white: #fff;
$black: #000;

$navbar-button: darken(#818FA3, 0%);

// $dark-background: #304347;
$dark-background: darken(#4a536b,15%);

// $navbar-background:	#c0c0c0;
// $navbar-background:	darken(#aed6dc, 9%);
$navbar-background:	lighten(#6e7f80,25%);




$spacing: 2rem;

$content-background: #F5F5F5;